<div class="jumbotron">
  <h1>Databases</h1>
  <!-- <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p> -->
  <p>Many databases integrated! Visit the pages below to know all data contained!</p>
  <!-- <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more »</a></p> -->
</div>

<br/>

<!-- Three columns of text below the carousel -->
<div class="row">
  <div class="col-md-4">
    <div class="db_item">
      <%= image_tag "campidoglio.jpg", :class => "img-circle" %>
      <h2><%= link_to "Municipalities", regions_path %></h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euimdod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
      <!-- <p><a class="btn btn-default" href="#" role="button">View details »</a></p> -->
    </div>
  </div><!-- /.col-lg-4 -->
  <div class="col-md-4">
    <div class="db_item">
    <%= image_tag "pass.jpg", :class => "img-circle" %>
    <h2><%= link_to "Mountain Passes", passes_path %></h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euimdod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
  </div><!-- /.col-lg-4 -->
  <div class="col-md-4">
    <div class="db_item">
    <%= image_tag "bikes.jpg", :class => "img-circle" %>
    <h2><%= link_to "Bikes", "#" %></h2>
    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euimdod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->