<div id="gallery-carousel" class="carousel carousel-fade slide">
  <div class="carousel-inner">
    <% pictures.shuffle.each do |picture| %>
      <div class="item" style="background-image: url('<%= picture.photo_url %>')">
        <div class="carousel-caption" style="text-shadow: 2px 2px #000000;">
          <h3><%= picture.title %></h3>
          <p><%= picture.picturable.address %></p>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#gallery-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#gallery-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

<script type="text/javascript">
// Carousel Auto-Cycle
  $(document).ready(function() {
    $("div#gallery-carousel div.item:first").addClass("active");
  });
</script>

