<div class="row">
  <div class="col-md-3">
    <br/>
    <div class="list-group">
      <%= render "sidebar_links" %>
    </div>
  </div>

  <div class="col-md-9 sidebar-content">
    <%= render "#{partial_name}" %>
  </div>
</div>